<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <script src="/javascripts/jquery-3.5.1.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel="stylesheet" href="/stylesheets/gallery.css">
</head>

<body>
    <header>
        <% include ./header %>
    </header>
    <div class="stage">
        <div class="container">
            <div class="title">
                <p>명예의 전당</p>
            </div>
            <!-- 5번째 부터 1,2,3... -->
            <div class="ring">
                <% for (let i = 5; i < 10; i++) { %>
                    <div class="img">
                        <div class="contents">
                            <p class="prize">
                                <%= i+1 %>등
                            </p>
                            <p class="userid">
                                <%= topTenUserIds[i].userid %>님 
                            </p>
                            <p class="trees">
                                보유한 나무: <%= topTenUserIds[i].tree %>그루
                            </p>
                        </div>
                    </div>
                <% } %> 
                <% for (let i = 0; i < 5; i++) { %>
                    <div class="img">
                        <div class="contents">
                            <p class="prize">
                                <%= i+1 %>등
                            </p>
                            <p class="userid">
                                <%= topTenUserIds[i].userid %>님 
                            </p>
                            <p class="trees">
                                보유한 나무: <%= topTenUserIds[i].tree %>그루
                            </p>
                        </div>
                    </div>
                <% } %> 
            </div>
        </div>
    </div>
    <!-- Gsap Library -->
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js"
        integrity="sha512-2fk3Q4NXPYAqIha0glLZ2nluueK43aNoxvijPf53+DgL7UW9mkN+uXc1aEmnZdkkZVvtJZltpRt+JqTWc3TS3Q=="
        crossorigin="anonymous" 
        referrerpolicy="no-referrer"
    >
    </script>
    <script src="/javascripts/gallery.js"></script>
 
</body>

</html>